p {
  color: rgb(65, 64, 63);
  font-family: "trebuchet ms", sans-serif;    
}

body{
  background: #fefefe;
}

nav.navbar strong{
  font-size: 35px;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  color: #fefefe;
  text-shadow: 5px 5px 10px #2573a1;
}

button.navbar-toggler{
  border: 3px solid #fefefe;
}

ul.navbar-nav li{
  font-weight: bold;
}


.title {
    color: rgb(65, 64, 63);
    font-family: "trebuchet ms", sans-serif;    
}

.item{
    background: white;    
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 20px;
}

.bs-example{
	margin: 20px;
}

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}

  .d-block {
    margin-left: auto;
    display: block!important;
    width: auto;
    height: auto;
    max-width: 200px;
    display: block;
    margin-right: auto;
}

h1{
  color: #2573A1 !important;
  font-family: 'Sansita Swashed', cursive !important;
}


footer#main-footer{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom:0;
  background: rgba(46, 45, 55, 0.95);
}

footer#main-footer p{
  color: white;
}

